#linkpad_button {
	list-style-image: url("chrome://linkpad/skin/linkpad-toolbar.png");
	-moz-image-region: rect(0px 24px 24px 0px);
}
/*
#linkpad_button:not([checked="true"]):hover {
	-moz-image-region: rect(24px 24px 48px 0px);
}

#linkpad_button:not([checked="true"]):hover:active {
	-moz-image-region: rect(48px 24px 72px 0px);
}

#linkpad_button[checked="true"] {
	-moz-image-region: rect(48px 24px 72px 0px);
}
*/
toolbar[iconsize="small"] #linkpad_button {
	list-style-image: url("chrome://linkpad/skin/linkpad-toolbar-small.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}
/*
toolbar[iconsize="small"] #linkpad_button:not([checked="true"]):hover {
	-moz-image-region: rect(16px 16px 32px 0px);
}

toolbar[iconsize="small"] #linkpad_button:not([checked="true"]):hover:active {
	-moz-image-region: rect(32px 16px 48px 0px);
}

toolbar[iconsize="small"] #linkpad_button[checked="true"] {
	-moz-image-region: rect(32px 16px 48px 0px);
}

#linkpad_status {
	list-style-image: url("chrome://linkpad/skin/linkpad-statusbar.png");
	-moz-image-region: rect(0px 16px 16px 0px);
	width: 20px;
}

#linkpad_status[dragover="true"] {
	-moz-image-region: rect(16px 16px 32px 0px);
}
*/
/** Sidebar Panel **/
#linkpad_panel {
	-moz-appearance: none;
	background-color: transparent;
}

#linkpad_listbox {
	-moz-appearance: none;
	background-color: #333;
	color: #fff;
}

.linkpad-item {
	list-style-image: url("chrome://global/skin/icons/folder-item.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
	-moz-padding-end: 2px;
	margin: 0px 2px;
}

.linkpad-item[disabled="true"] {
	color: GrayText;
}

.linkpad-item > .listcell-iconic > .listcell-icon {
	width: 16px;
	height: 16px;
}

#linkpad_listbox[clickcount="1"] .linkpad-item {
	cursor: pointer;
}

.linkpad-item[dragover="top"] {
	border-top-color: #000;
}

.linkpad-item[dragover="bottom"] {
	border-bottom-color: #000;
}

/*
#linkpad_listbox listboxbody {
	overflow-y: hidden;
}
*/
